#flashcard{ 
    background: white;
    height:300px;
    width: 500px;
    border: 2px solid black;
    border-radius: 8px;
   
}

#cardtext{
    word-wrap: break-word;
    padding: 5px;
    padding-right: 10px;
}